@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
<RemoteAuthenticatorView Action="@Action" />
<p>Login</p>

@code{
    [Parameter] public string Action { get; set; }
}
