@using CarMarket.UI.Data

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @if(BreadCrumbDatas != null)
        {
            @foreach(var item in BreadCrumbDatas)
            {
                @if(item == BreadCrumbDatas.Last())
                {
                   <li class="breadcrumb-item active" aria-current="page">@item.Text</li>
                }
                else
                {
                    <li class="breadcrumb-item"><a href="@item.Url">@item.Text</a></li>
                }
            }
        }
    </ol>
</nav>

@code {
    [Parameter]
    public BreadCrumbData BreadCrumbData { get; set; }

    public List<BreadCrumbData> BreadCrumbDatas { get; set; }

    protected override void OnInitialized()
    {
        if(BreadCrumbDatas is null)
        {
            BreadCrumbDatas = new List<BreadCrumbData>();
        }

        BreadCrumbDatas.Add(BreadCrumbData);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        BreadCrumbDatas.Add(BreadCrumbData);
    }
}
